[Unit]
Description=pi sensor daemon
After=network.target

[Service]
ExecStart=/usr/local/pi-sensor/daemon
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
Alias=pi-sensor.service
